body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #000;
}

.general-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 8vh 5vw;
}

.login-img {
  content: url("../assets/icon.svg");
  width: 100px;
  height: 100px;
}

.login-container {
  margin-top: 20vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #cecece;
  border-radius: 25px;
  width: 500px;
  padding: 20px;
}

.login-label {
  font-size: 1rem;
  font-weight: bold;
}

.login-textbox {
  width: 300px;
  height: 20px;
  margin: 5px;
  outline: none;
  border: 1px solid #1e90ff;
}

.login-button {
  margin-top: 10px;
  padding: 10px 5px;
  width: 200px;
  background-color: #1e90ff;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  font-size: 1rem;
  color: #fff;
}

.login-button:hover {
  background-color: #87cefa;
}

.bar-status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80vw;
  height: 5vw;
  background-color: #dcdcdc;
  padding: 0 20px;
  margin-bottom: 15px;
  border-radius: 20px;
  -webkit-box-shadow: 3px 3px 5px #1e90fe;
          box-shadow: 3px 3px 5px #1e90fe;
}

.button-location {
  margin-left: 10px;
  content: url("../assets/icon.svg");
  width: 20px;
  height: 20px;
}

.logout-button {
  padding: 10px 5px;
  width: 100px;
  background-color: #1e90ff;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  font-size: 1rem;
  color: #fff;
}

.logout-button:hover {
  background-color: #87cefa;
}

.logged-user {
  font-size: 1rem;
  font-weight: bold;
}

.job-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.jobs {
  width: 20vw;
  height: 85vh;
  list-style: none;
  background-color: #c3c3c3;
  padding-left: 20px;
  margin-top: 0;
  padding-top: 5vh;
  overflow-y: scroll;
}

.job-img {
  width: 30px;
  height: 30px;
}

.job-title {
  padding-left: 15px;
  font-size: 1.2rem;
}

.job-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.job-item-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.go-button {
  padding: 10px 5px;
  width: 40px;
  background-color: #1e90ff;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  font-size: 1rem;
  color: #fff;
  font-size: 11px;
  margin-bottom: 5px;
  margin-right: 15px;
}

.go-button:hover {
  background-color: #87cefa;
}

.marker-popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1rem;
}

.market-title {
  font-weight: bold;
}

.market-img {
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=style.css.map */